* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Texturina", serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  height: 100vh;
  background-image: url("images/bg.svg");
  background-position: 0px 0px;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

nav .logo img {
  width: 10rem;
  height: auto;
}

nav .icon {
  width: 30rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav .icon a {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
  font-weight: 400;
}

nav .icon a:hover {
  color: #51b788;
}

nav .booking {
  width: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav .booking a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 0.5s ease;
}

nav .booking a:hover {
  color: #51b788;
}

nav .booking h1 {
  font-size: 2rem;
  transition: all 0.5s ease-in;
}

nav .booking h1:hover {
  color: #51b788;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80vh;
}

main .left-side {
  font-weight: bold;
  width: 45%;
}

main .left-side h2 {
  color: #51b788;
  font-size: 2rem;
}

main .left-side h1 {
  font-size: 3rem;
  line-height: 60px;
  letter-spacing: 1px;
}

main .left-side p {
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 40px;
  letter-spacing: 1.1px;
}

main .right-side {
  width: 55%;
}

main .right-side img {
  max-width: 100%;
  height: auto;
}

.best-menu {
  height: 80vh;
  padding: 3rem 0;
  background-image: url("images/bg2.svg");
  background-position: center;
}

.best-menu .contact-box {
  margin: 0 auto;
}

.button-primary {
  color: #fff;
  border: none;
  background-color: #51b788;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  margin: 0 auto;
  outline: none;
  padding: 10px 1rem;
  transition: transform 0.3s ease;
}

.button-primary:hover {
  transform: scale(1.1);
}

.best-menu h2 {
  margin-top: 2rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-align: center;
}

.best-menu h2 span {
  color: #51b788;
}

.best-menu h2 span:hover {
  color: green;
}

.best-menu .mast-mal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

.best-menu .mast-mal h4 {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  font-weight: bold;
  color: #51b788;
}

.best-menu .mast-mal h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.best-menu .mast-mal p {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.best-menu .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  margin-top: 3rem;
  padding-left: 195px;
}

.best-menu .menu div.menu-item {
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  margin-right: 39px;
}

.best-menu .menu div.menu-item:hover {
  box-shadow: 4px 2px 8px 0px rgba(50, 50, 50, 0.75);
}

.best-menu .menu div.menu-item img {
  max-width: 100%;
  height: 150px;
}

.best-menu .menu .menu-item > h1 {
  font-size: 1.5rem;
  color: black;
  text-align: center;
}

.load-btn {
  text-align: center;
}
.load-btn a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  background-color: #51b788;
  border-radius: 20px;
  text-align: center;
  padding: 1rem;
  transition: all 0.5s ease;
}
.load-btn a:hover {
  color: black;
  font-weight: bold;
  background-color: white;
  border: black solid;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.load-btn p {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.load-btn p span {
  color: red;
  font-size: 2rem;
}

.about {
  padding: 3rem 0;
  background-image: url("images/bg2.svg");
  background-position: center;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.about-container .about-photo {
  width: 60%;
}

.about-container .about-photo img {
  max-width: 90%;
  height: auto;
}

.about-container .about-text {
  width: 40%;
}

.about-container .about-text h2 {
  font-size: 2rem;
  font-weight: 500;
  color: red;
}

.about-container .about-text h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.about-container .about-text p {
  margin-top: 1rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.knowlege {
  margin-top: 1.5rem;
  text-align: center;
}
.knowlege a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  background-color: #51b788;
  border-radius: 20px;
  transition: all 0.5s ease;
  padding: 1rem;
}
.knowlege a:hover {
  color: black;
  background-color: white;
  font-weight: bold;
  border: black solid;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.collect {
  background-image: url("images/bg2.svg");
  background-position: center;
}

.collect .collect-header {
  text-align: center;
}

.collect .collect-header h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2.2rem;
  font-weight: 500;
  color: red;
}

.collect .collect-header h1 {
  font-size: 3rem;
  margin-top: 10px;
  font-weight: 500;
}

.collect .collect-header p {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 400;
}

.top-class div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
}

.top-class a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
  padding: 10px 1rem;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.top-class a:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.top-foods {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.top-foods .food-card {
  width: 400px;
  border: 1px solid #ccc;
  padding: 2rem 1rem;
  text-align: center;
}

.top-foods .food-card:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.top-foods .food-card img {
  width: 60%;
  height: auto;
  margin-top: 1rem;
  border-radius: 50%;
}

.top-foods .food-card h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 10px;
}

.top-foods .food-card h2 i > img {
  width: 1.2rem;
  height: auto;
  margin-bottom: 10px;
}

.top-foods .food-card h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: red;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
}

.top-foods .food-card a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 1rem;
  border: 1px solid #ccc;
}

.collect button + p {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.collect button + p span {
  color: red;
  font-size: 2rem;
}

.app {
  background-image: url("images/bg2.svg");
  background-position: center;
}

.app .app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.app .app-container .information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.app .app-container .information h4 {
  font-size: 2rem;
  font-weight: 400;
  color: red;
  letter-spacing: 1px;
}

.app .information h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 15px;
}

.app .app-container .information p {
  font-size: 1.5rem;
  font-weight: 400;
}

.app .app-container .information ol {
  list-style-type: decimal;
  margin-top: 1rem;
}

.app .app-container .information ol > li {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  border-radius: 20px;
  padding: 1rem;
}

.app .app-info {
  width: 60%;
}

.app .app-info img {
  width: 800px;
  height: 800px;
}

.down {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.down .android {
  text-align: center;
}

.down .android h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.down a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  background-color: #51b788;
  padding: 10px 1rem;
  transition: all 0.3s ease;
}

.down a:hover {
  color: blue;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.down .ios {
  text-align: center;
}

.down .ios h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.certy {
  text-align: center;
  background-image: url("images/bg3.svg");
}

.certy h2 {
  font-size: 2rem;
  font-weight: 500;
}

.certy h1 {
  font-size: 3rem;
  font-weight: 500;
}

.review {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
  height: 60vh;
}

.review .customer {
  width: 400px;
  padding: 2rem;
  border-left: 1px solid black;
  box-shadow: 9px 2px 9px 0px rgba(50, 50, 50, 0.39);
}

.review .customer .upper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.review .customer .upper img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.review .customer .upper h1 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.review .customer .upper h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: darkred;
}

.review .customer .niche {
  text-align: center;
}

.review .customer .niche p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.review .customer .niche a {
  text-decoration: none;
}

.review .customer .niche a > img {
  width: 1.2rem;
  height: auto;
}

/* footer start here */

footer {
  background-color: #51b788;
  margin-top: 2rem;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
}

footer > div {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .phase-1 {
  text-align: center;
  width: 30%;
}

footer .phase-1 p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 10px;
}

footer .phase-1 a {
  font-size: 2rem;
  font-weight: 400;
  color: black;
  margin-right: 5px;
}

footer .footer-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 70%;
}

footer .phase-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

footer .phase-2 h1 {
  font-weight: 500;
  margin-bottom: 10px;
}

footer .phase-2 h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 5px;
}

/* end styling */

/* media quarry */

@media (max-width: 1335px) {
  nav .logo img {
    margin-left: 100px;
  }

  nav .booking {
    padding-right: 50px;
  }

  main .left-side {
    margin-left: 100px;
  }

  main .right-side img {
    padding-right: 50px;
  }

  .load-btn button {
    margin-top: 120px;
  }

  .app .app-info img {
    width: 500px;
    height: 500px;
    margin-left: 185px;
  }
}
@media (max-width: 1098px) {
  .app .app-info img {
    width: 350px;
    height: 350px;
    margin-left: 250px;
  }

  nav {
    flex-direction: column;
    transition: all 0.7s ease-out;
  }

  nav .logo img {
    margin-left: -500px;
    margin-top: 10px;
  }

  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
  }

  .icon {
    flex-direction: column;
    list-style-type: none;
    display: none;
  }

  .booking {
    list-style-type: none;
    display: none;
  }

  .active {
    display: block;
  }
}

@media (max-width: 1200px) {
  main .left-side h1 {
    font-size: 1.4rem;
  }

  main .left-side p {
    font-size: 0.8rem;
  }

  .right-side img {
    width: 30rem;
    height: auto;
  }

  .menues a {
    width: 10rem;
    height: auto;
  }

  .menues a > i {
    font-size: 2.4rem;
  }

  .menues a > h1 {
    font-size: 1.4rem;
  }

  .top-class a {
    font-size: 2rem;
  }
}
@media (max-width: 900px) {
  .container .booking {
    display: none;
  }

  .about img {
    width: 22rem;
    height: auto;
  }

  .about .about-text h1 {
    font-size: 1.2rem;
  }

  .about .about-text p {
    font-size: 0.8rem;
  }

  .knowlege a {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .load-btn a {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .top-class a {
    font-size: 1.5rem;
  }

  .appp img {
    width: 20rem;
    height: auto;
  }

  .appp .information h1 {
    font-size: 1.5rem;
  }

  .appp .information p {
    font-size: 0.9rem;
  }

  .footer .phase-2 h1 {
    font-size: 1rem;
  }

  .footer .phase-2 h2 {
    font-size: 0.6rem;
  }
}
@media (max-width: 715px) {
  body {
    width: 100%;
  }

  main .left-side h1 {
    font-size: 1rem;
  }

  main .left-side p {
    font-size: 0.8rem;
  }

  .right-side img {
    width: 10rem;
    height: auto;
  }

  .left-side {
    font-size: 0.8rem;
  }

  .icon a {
    font-size: 0.6rem;
  }

  .booking a {
    display: none;
  }

  .booking h1 {
    display: none;
  }

  .best-menu a {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .menues a {
    width: 8rem;
    height: auto;
  }

  .menues a > i {
    font-size: 1.4rem;
  }

  .menues a > h1 {
    font-size: 0.5rem;
  }

  .load-btn a {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .about img {
    width: 20rem;
    height: auto;
  }

  .about-text {
    text-align: center;
  }

  .about .about-text h1 {
    font-size: 1.4rem;
  }

  .knowlege a {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .collect h1 {
    font-size: 1.5rem;
  }

  .collect p {
    font-size: 0.8rem;
  }

  .top-class a {
    font-size: 1.5rem;
    padding: 0.6rem;
  }

  .top-foods .food-card {
    width: 10rem;
  }

  .top-foods .food-card img {
    width: 5rem;
    height: auto;
  }

  .top-foods .food-card h1 {
    font-size: 1rem;
  }

  .top-foods .food-card h2 > i {
    font-size: 0.8rem;
  }

  .top-foods .food-card h4 {
    font-size: 1rem;
  }

  .top-foods .food-card a {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .top-foods .food-card h3 {
    font-size: 1rem;
  }

  .more-dish a {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .appp img {
    width: 12rem;
    height: auto;
  }

  .appp .information h1 {
    font-size: 1rem;
  }

  .appp .information p {
    font-size: 0.8rem;
  }

  .appp .information ol > li {
    font-size: 0.8rem;
    margin-top: -0.5rem;
  }

  .down .android h1 {
    font-size: 0.5rem;
  }

  .down .android a {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .down .ios h1 {
    font-size: 0.5rem;
  }

  .down .ios a {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .certy h1 {
    font-size: 1rem;
  }

  .review .customer {
    width: 10rem;
    height: auto;
  }

  .review .customer .upper h1 {
    font-size: 1rem;
  }

  .review .customer .upper h2 {
    font-size: 0.8rem;
  }

  .review .customer .niche p {
    font-size: 0.8rem;
  }

  .review .customer .niche a {
    font-size: 0.8rem;
  }

  .many a {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .footer img {
    width: 6rem;
    height: auto;
  }

  .footer .phase-1 p {
    font-size: 0.6rem;
  }

  .footer .phase-1 a > i {
    font-size: 0.8rem;
  }

  .footer .phase-2 h1 {
    font-size: 1rem;
  }
  
  .footer .phase-2 h2 {
    font-size: 0.6rem;
  }
}

/* last end */
