* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utilities class */
/* styling */
body {
  font-family: "Texturina", serif;
  width: 80%;
  height: 1900px;
  margin-left: 10rem;
  scroll-behavior: smooth;
}

header {
  margin-top: 2rem;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav .logo img {
  width: 10rem;
  height: auto;
}
nav .icon {
  width: 30rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav .icon a {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
}
nav .icon a:hover {
  color: #51b788;
}
nav .btn {
  width: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav .btn a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.5s ease;
}
nav .btn a:hover {
  color: #51b788;
}
nav .btn h1 {
  font-size: 2rem;
  transition: all 0.5s ease-in;
}
nav .btn h1:hover {
  color: #51b788;
}
main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .left-side {
  font-weight: bold;
}
main .left-side h2 {
  color: #51b788;
}
main .left-side h1 {
  font-size: 2rem;
}
.enter-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.enter-page a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  background-color: #51b788;
  padding: 1rem;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.enter-page a:hover {
  color: black;
  font-weight: bold;
  background-color: white;
  border: black solid;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.enter-page h2 {
  margin-top: 2rem;
  font-size: 1.4rem;
}
.enter-page h2 span {
  color: #51b788;
}
.enter-page h2 span:hover {
  color: green;
}

.mast-mal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.mast-mal h4 {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  font-weight: bold;
  color: #51b788;
}
.mast-mal h1 {
  font-size: 3rem;
  font-weight: bold;
}
.mast-mal p {
  font-size: 1rem;
}

.menues {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
}

.menues a {
  width: 15rem;
  text-decoration: none;
  text-align: center;
  border: #51b788 solid;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.menues a:hover {
  border: black solid;
  background-color: #51b788;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.menues a > i {
  font-size: 5rem;
  color: black;
}
.menues a > h1 {
  font-size: 1.5rem;
  color: black;
}
.load-btn {
  margin-top: 3rem;
  text-align: center;
}
.load-btn a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  background-color: #51b788;
  border-radius: 20px;
  text-align: center;
  padding: 1rem;
  transition: all 0.5s ease;
}
.load-btn a:hover {
  color: black;
  font-weight: bold;
  background-color: white;
  border: black solid;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.load-btn p {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.load-btn p span {
  color: red;
  font-size: 2rem;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.about .about-text h2 {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}
.about .about-text h1 {
  font-size: 2rem;
  font-weight: bold;
}
.about .about-text p {
  margin-top: 1rem;
}
.knowlege {
  margin-top: 1.5rem;
  text-align: center;
}
.knowlege a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  background-color: #51b788;
  border-radius: 20px;
  transition: all 0.5s ease;
  padding: 1rem;
}
.knowlege a:hover {
  color: black;
  background-color: white;
  font-weight: bold;
  border: black solid;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.collect {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.collect h2 {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}
.collect h1 {
  font-size: 3rem;
  font-weight: bold;
}
.collect p {
  font-size: 1.5rem;
  font-weight: bold;
}
.top-class {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.top-class a {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #51b788;
  border-radius: 20px;
  padding: 1rem;
  transition: all 0.5s ease;
}
.top-class a:hover {
  color: black;
  background-color: white;
  font-weight: bold;
  border: black solid;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.top-class span a {
  color: black;
  background-color: white;
  font-weight: bold;
  border: black solid;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.top-foods {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
}
.top-foods .food-card {
  width: 18rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.5s ease;
}
.top-foods .food-card:hover {
  color: white;
  background-color: #51b788;
  box-shadow: none;
}
.top-foods .food-card img {
  width: 10rem;
  height: auto;
  margin-top: 1rem;
  border-radius: 50%;
}
.top-foods .food-card h1 {
  font-size: 2rem;
  font-weight: bold;
}
.top-foods .food-card h2 i > img {
  width: 1.2rem;
  height: auto;
}
.top-foods .food-card h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  transition: all 0.5s ease;
}
.top-foods .food-card h4:hover {
  color: white;
  font-size: 2rem;
}
.top-foods .food-card a {
  margin-top: 2rem;
  text-decoration: none;
  color: white;
  background-color: #51b788;
  border-radius: 20px;
  padding: 0.6rem;
  transition: all 0.5s ease;
}
.top-foods .food-card a:hover {
  color: black;
  background-color: white;
  border: black solid;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.top-foods .food-card h3 {
  font-size: 1.6rem;
  font-weight: bold;
  transition: all 0.5s ease;
}
.top-foods .food-card h3:hover {
  color: black;
  font-size: 2rem;
}
.more-dish {
  margin-top: 4rem;
  text-align: center;
}
.more-dish a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  background-color: #51b788;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.more-dish a:hover {
  color: black;
  background-color: white;
  border: black solid;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.more-dish p {
  margin-top: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.more-dish p span {
  color: red;
  font-size: 2rem;
}
.appp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.appp .information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.appp .information h4 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  color: red;
}
.appp .information h1 {
  font-size: 2rem;
  font-weight: bold;
}
.appp .information p {
  font-size: 1rem;
  font-weight: bold;
}
.appp .information ol {
  list-style-type: decimal;
}
.appp .information ol > li {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  transition: all 0.5s ease;
  border-radius: 20px;
  padding: 1rem;
}
.appp .information ol > li:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  color: white;
  background-color: #51b788;
}
.appp .appp-info img {
  border-radius: 20px;
}
.down {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.down .android {
  text-align: center;
}
.down .android h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.down .android a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #51b788;
  border-radius: 20px;
  padding: 1rem;
  transition: all 0.5s ease;
}
.down .ios {
  text-align: center;
}
.down .ios h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.down .ios a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #51b788;
  border-radius: 20px;
  padding: 1rem;
  transition: all 0.5s ease;
}
.down a:hover {
  color: black;
  background-color: white;
  border: black solid;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.certy {
  text-align: center;
  margin-top: 8rem;
}
.certy h2 {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  color: red;
}
.certy h1 {
  font-size: 3rem;
  font-weight: bold;
}

.review {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
}
.review .customer {
  width: 22rem;
  height: auto;
  border-radius: 20px;
  transition: all 0.5s ease;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.review .customer:hover {
  color: white;
  background-color: #51b788;
  box-shadow: none;
}
.review .customer .upper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.review .customer .upper img {
  border-radius: 50%;
}
.review .customer .upper h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

.review .customer .upper h2 {
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.5s ease;
}
.review .customer .upper h2:hover {
  color: black;
}
.review .customer .niche {
  text-align: center;
}
.review .customer .niche p {
  font-size: 1rem;
  font-weight: bold;
}
.review .customer .niche a {
  text-decoration: none;
}
.review .customer .niche a > img {
  width: 1.2rem;
  height: auto;
}
.many {
  text-align: center;
  margin-top: 4rem;
}
.many a {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: #51b788;
  border-radius: 20px;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.5s ease;
}
.many a:hover {
  color: black;
  background-color: white;
  border: black solid;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* footer start here */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8rem;
  background-color: #51b788;
}
footer .phase-1 {
  text-align: center;
}
footer .phase-1 p {
  font-size: 1rem;
  font-weight: bold;
}
footer .phase-1 a {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  transition: all 0.5s ease;
}
footer .phase-1 a:hover {
  color: #51b788;
}
footer .phase-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .phase-2 h2 {
  font-size: 1rem;
  font-weight: bold;
}
/* end styling */



/* media quarry */


@media(max-width:1200px){
  main .left-side h1{
    font-size: 1.4rem;
  }
  main  .left-side p{
    font-size: 0.8rem;
  }
  .right-side img{
    width: 30rem;
    height: auto;
  }
  .menues a{
    width: 10rem;
    height: auto;
  }
  .menues a>i{
    font-size: 2.4rem;
  }
  .menues a>h1{
    font-size: 1.4rem;
  }
  .top-class a{
    font-size: 2rem;
  }
}
@media(max-width:900px){
  .container .btn{
    display: none;
  }
  .about  img{
    width: 22rem;
    height: auto;
  }
  .about .about-text h1{
    font-size: 1.2rem;
  }
  .about .about-text p{
    font-size: 0.8rem;
  }
  .knowlege a{
    font-size: 1rem;
    padding: 0.5rem;
  }
  .load-btn a{
    font-size: 1rem;
    padding: 0.5rem;
  }
  .top-class a{
    font-size: 1.5rem;
  }
  .appp img{
    width: 20rem;
    height: auto;
  }
  .appp .information h1{
    font-size: 1.5rem;
  }
  .appp .information p{
    font-size: 0.9rem;
  }
  .footer .phase-2 h1{
    font-size: 1rem;
  }
  .footer .phase-2 h2{
    font-size: 0.6rem;
  }
}
@media(max-width:715px){


  body{
    width: 100%;
  }
  main .left-side h1{
    font-size: 1rem;
  }
  main .left-side p{
    font-size: 0.8rem;
  }
  .right-side img{
    width: 10rem;
    height: auto;
  }
  .left-side{
    font-size: 0.8rem;
  }
  .icon a{
    font-size:0.6rem;
  }
  .btn a{
  display: none;
  }
  .btn h1{
    display: none;
  }
  .enter-page  a{
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .menues a{
    width: 8rem;
    height: auto;
  }
  .menues  a >i{
    font-size: 1.4rem;
  }
  .menues a>h1{
    font-size: 0.5rem;
  }
  .load-btn  a{
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .about  img{
    width: 20rem;
    height: auto;
  }
  .about-text{
    text-align: center;
  }
  .about .about-text h1{
    font-size: 1.4rem;
  }
  .knowlege a{
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .collect h1{
    font-size: 1.5rem;
  }
  .collect p{
    font-size: 0.8rem;
  }
  .top-class a{
    font-size: 1.5rem;
    padding: 0.6rem;
  }
  .top-foods .food-card{
    width: 10rem;
  }
  .top-foods  .food-card img{
    width: 5rem;
    height: auto;
  }
  .top-foods .food-card h1{
    font-size: 1rem;
  }
  .top-foods .food-card h2>i{
    font-size: 0.8rem;
  }
  .top-foods .food-card  h4{
    font-size: 1rem;
  }
  .top-foods .food-card a{
    font-size: 1rem;
    padding: 0.5rem;
  }
  .top-foods .food-card  h3{
    font-size: 1rem;
  }
  .more-dish a{
    font-size: 1rem;
    padding: 0.5rem;
  }
  .appp  img{
    width: 12rem;
    height: auto;
  }
  .appp .information  h1{
    font-size: 1rem;
  }
  .appp .information  p{
    font-size: 0.8rem;
  }
  .appp .information ol>li{
    font-size: 0.8rem;
    margin-top: -0.5rem;
  }
  .down  .android h1{
    font-size: 0.5rem;
  }
  .down .android  a{
    font-size: 1rem;
    padding: 0.5rem;
  }
  .down  .ios h1{
    font-size: 0.5rem;
  }
  .down .ios  a{
    font-size: 1rem;
    padding: 0.5rem;
  }
  .certy h1{
    font-size: 1rem;
  }
  .review .customer{
    width: 10rem;
    height: auto;
  }
  .review .customer .upper h1{
    font-size: 1rem;
  }
  .review .customer .upper h2{
    font-size: 0.8rem;
  }
  .review .customer .niche p{
    font-size: 0.8rem;
  }
  .review .customer .niche a{
    font-size: 0.8rem;
  }
  .many a{
    font-size: 1rem;
    padding: 0.5rem;
  }
  .footer img{
    width: 6rem;
    height: auto;
  }
  .footer .phase-1 p{
    font-size: 0.6rem;
  }
  .footer .phase-1 a>i{
    font-size: 0.8rem;
  }
  .footer .phase-2 h1{
    font-size: 1rem;
  }
  .footer .phase-2 h2{
    font-size: 0.6rem;
  }
}
/* last end */